._config.yml.un~
_config.yml~
_posts/newfile.app/
.jekyll-cache/
_site/
scripts/gen_sidebar/node_modules/
.jekyll-metadata
assets/images/*/Trash
.DS_Store
Gemfile.lock
_posts/.stfolder
_posts/.stfolder.removed-20260528-152826
