<div class="karino2-sidebar">
            <h2>てきすとTL</h2>
            <div class="box" dt="1699145014292">
            DRC、前どっかでやったのを思い出してきた。unchainした時にinner countを残りのリファレンスになるようにするんだな。
            <div class="content is-small">Sun Nov 05 2023 09:43:34 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/11/05/1699145014292.html">permlink</a></div>
          </div>
<div class="box" dt="1699142111780">
            DRCがいまいち良く分からないので読み直したりしている。外はCASで触れなくなってるので内側が必要、という事なのかなぁ。
            <div class="content is-small">Sun Nov 05 2023 08:55:11 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/11/05/1699142111780.html">permlink</a></div>
          </div>
<div class="box" dt="1698677105611">
            ロックフリーのスタックの節を読んでるが、ノードの解放周りは難しいねぇ。まぁshared_ptr使ってロックを諦めるのが現実的か。
            <div class="content is-small">Mon Oct 30 2023 23:45:05 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/30/1698677105611.html">permlink</a></div>
          </div>
<div class="box" dt="1698626201434">
            仕事でconcurrentなスラブアロケータを書く事になったが、こういうのをそこらの1プログラマが書くのはC++って感じだよなぁ。
            <div class="content is-small">Mon Oct 30 2023 09:36:41 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/30/1698626201434.html">permlink</a></div>
          </div>
<div class="box" dt="1698616594986">
            C++のメモリーオーダーについての理解を深めた。seq_cst以外も使えそうな理解に至ったが使うかは不明（そこがパフォーマンスボトルネックになったことは無いので）
            <div class="content is-small">Mon Oct 30 2023 06:56:34 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/30/1698616594986.html">permlink</a></div>
          </div>
<div class="box" dt="1698564387166">
            C++ Concurrency in Action、メモリオーダーの手前まで読む。
            <div class="content is-small">Sun Oct 29 2023 16:26:27 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/29/1698564387166.html">permlink</a></div>
          </div>
<div class="box" dt="1698562618894">
            epubリーダーとしてはGoogle Booksのアプリはなかなか良いよな。
            <div class="content is-small">Sun Oct 29 2023 15:56:58 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/29/1698562618894.html">permlink</a></div>
          </div>
<div class="box" dt="1698548434596">
            鏡の前でテイクオフの陸トレをする朝。足を動かし始めるのが早いんじゃないか。上半身をもっと起こしきってから動かすのが良い気がする。
            <div class="content is-small">Sun Oct 29 2023 12:00:34 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/29/1698548434596.html">permlink</a></div>
          </div>
<div class="box" dt="1698489740798">
            mimallocってC++じゃなくてC言語なんだよな。なんかこういうのC言語で書くの、へーって感じする。
            <div class="content is-small">Sat Oct 28 2023 19:42:20 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/28/1698489740798.html">permlink</a></div>
          </div>
<div class="box" dt="1698487165499">
            C++ってだいたいアプリ固有の事情を加味したアロケータを書く羽目になると思うんだけど、こんな複雑でバグりやすそうなものをみんな手書きしているというのは信じがたいものがあるよなぁ。
            <div class="content is-small">Sat Oct 28 2023 18:59:25 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/28/1698487165499.html">permlink</a></div>
          </div>
<div class="box" dt="1698390486548">
            TextTLをサイドバーに出すスクリプトが落ちてたので修正。
            <div class="content is-small">Fri Oct 27 2023 16:08:06 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/27/1698390486548.html">permlink</a></div>
          </div>
<div class="box" dt="1698217317240">
            mimallocコード読み、ちゃんと理解出来るが結構たいへん、って感じだな。まぁいい機会なので似たようなものを我流で作る前にちゃんと理解しておこう。
            <div class="content is-small">Wed Oct 25 2023 16:01:57 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/25/1698217317240.html">permlink</a></div>
          </div>
<div class="box" dt="1698131805930">
            おー、さらにラウンドアップ！プライオリティ使っていい波乗ったね。
            <div class="content is-small">Tue Oct 24 2023 16:16:45 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/24/1698131805930.html">permlink</a></div>
          </div>
<div class="box" dt="1698125796105">
            お、河村カイサがR3に名前がある。R2は勝てたか。
            <div class="content is-small">Tue Oct 24 2023 14:36:36 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/24/1698125796105.html">permlink</a></div>
          </div>
<div class="box" dt="1698125738895">
            カフェ開拓に出て前から気になってた所に入ってみたら思ったより中が狭くて落ち着かなかったので早めに出てくる。散歩日和ではあるね。
            <div class="content is-small">Tue Oct 24 2023 14:35:38 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/24/1698125738895.html">permlink</a></div>
          </div>
<div class="box" dt="1697871110306">
            土日って合理的に考えると絶対労働とかしている方がいいと思うんだが、なんとなく働く気にならないんだよなぁ。
            <div class="content is-small">Sat Oct 21 2023 15:51:50 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/21/1697871110306.html">permlink</a></div>
          </div>
<div class="box" dt="1697787348646">
            めちゃ流される日だったが長く乗れて少しフェイスもある波なので全体としてはまずまずな一日だった。
            <div class="content is-small">Fri Oct 20 2023 16:35:48 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/20/1697787348646.html">permlink</a></div>
          </div>
<div class="box" dt="1697685885441">
            最近のVisual Studioは本当に良く出来ているよなぁ。使い道があまり無いのが残念でならない。
            <div class="content is-small">Thu Oct 19 2023 12:24:45 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/19/1697685885441.html">permlink</a></div>
          </div>
<div class="box" dt="1697685859766">
            久しぶりにVisual Studioを触ると、帰ってきた感がある。新しくなった機能とか良く知らないので最初戸惑うが、慣れてくるとめちゃ使いやすい。
            <div class="content is-small">Thu Oct 19 2023 12:24:19 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/19/1697685859766.html">permlink</a></div>
          </div>
<div class="box" dt="1697359593825">
            日が暮れる直前に波が上がってきて一瞬だけすごく良かったがすぐ暗くなってしまうなど。
            <div class="content is-small">Sun Oct 15 2023 17:46:33 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/15/1697359593825.html">permlink</a></div>
          </div>
<div class="box" dt="1696815326482">
            今日から突然寒くなったな。
            <div class="content is-small">Mon Oct 09 2023 10:35:26 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/09/1696815326482.html">permlink</a></div>
          </div>
<div class="box" dt="1696637224945">
            今日は疲労もたまってるしライブカメラ見る感じ波も無さそうなのでサーフィンはお休みかなぁ。
            <div class="content is-small">Sat Oct 07 2023 09:07:04 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/07/1696637224945.html">permlink</a></div>
          </div>
<div class="box" dt="1696562792199">
            最近またいい波が続くな。9月は酷かったが10月前半は当たりか。
            <div class="content is-small">Fri Oct 06 2023 12:26:32 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/06/1696562792199.html">permlink</a></div>
          </div>
<div class="box" dt="1696050896437">
            既存和訳はあと2ファイル！
            <div class="content is-small">Sat Sep 30 2023 14:14:56 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/30/1696050896437.html">permlink</a></div>
          </div>
<div class="box" dt="1695999714129">
            やっぱアップスか（コナーさん回を見て）
            <div class="content is-small">Sat Sep 30 2023 00:01:54 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/30/1695999714129.html">permlink</a></div>
          </div>
<div class="box" dt="1695965031796">
            空いてるコアにタスクを入れても早くならない、を繰り返した１日（あるある）
            <div class="content is-small">Fri Sep 29 2023 14:23:51 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/29/1695965031796.html">permlink</a></div>
          </div>
<div class="box" dt="1695881731399">
            自作Futureライブラリはfuture&lt;future&lt;Unit&gt;&gt;をunwrapしてないので手動でunwarpしなくてはいけないがめちゃダルい。いい加減直すかなぁ。
            <div class="content is-small">Thu Sep 28 2023 15:15:31 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/28/1695881731399.html">permlink</a></div>
          </div>
<div class="box" dt="1695651465694">
            複数interfaceを実装する時に同じメソッドがある場合、片方がabstractでもoverride必須になったのか。知らなんだ＞Kotlin
            <div class="content is-small">Mon Sep 25 2023 23:17:45 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/25/1695651465694.html">permlink</a></div>
          </div>
<div class="box" dt="1695234330215">
            なんとかリファレンスの和訳を素のjekyllに出来た。翻訳を開始していけそうだ。
            <div class="content is-small">Thu Sep 21 2023 03:25:30 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/21/1695234330215.html">permlink</a></div>
          </div>
<div class="box" dt="1695195585234">
            敵役に転生したがちょっとまともになるので良い感じになっていく系の話は、良い感じになったあとの学園編あたりでダレるよな。変わっていくのが楽しいのであって変わった後は駄作になってしまう。
            <div class="content is-small">Wed Sep 20 2023 16:39:45 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/20/1695195585234.html">permlink</a></div>
          </div>
</div>