<div class="karino2-sidebar">
            <h2>てきすとTL</h2>
            <div class="box" dt="1698489740798">
            mimallocってC++じゃなくてC言語なんだよな。なんかこういうのC言語で書くの、へーって感じする。
            <div class="content is-small">Sat Oct 28 2023 19:42:20 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/28/1698489740798.html">permlink</a></div>
          </div>
<div class="box" dt="1698487165499">
            C++ってだいたいアプリ固有の事情を加味したアロケータを書く羽目になると思うんだけど、こんな複雑でバグりやすそうなものをみんな手書きしているというのは信じがたいものがあるよなぁ。
            <div class="content is-small">Sat Oct 28 2023 18:59:25 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/28/1698487165499.html">permlink</a></div>
          </div>
<div class="box" dt="1698390486548">
            TextTLをサイドバーに出すスクリプトが落ちてたので修正。
            <div class="content is-small">Fri Oct 27 2023 16:08:06 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/27/1698390486548.html">permlink</a></div>
          </div>
<div class="box" dt="1698217317240">
            mimallocコード読み、ちゃんと理解出来るが結構たいへん、って感じだな。まぁいい機会なので似たようなものを我流で作る前にちゃんと理解しておこう。
            <div class="content is-small">Wed Oct 25 2023 16:01:57 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/25/1698217317240.html">permlink</a></div>
          </div>
<div class="box" dt="1698131805930">
            おー、さらにラウンドアップ！プライオリティ使っていい波乗ったね。
            <div class="content is-small">Tue Oct 24 2023 16:16:45 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/24/1698131805930.html">permlink</a></div>
          </div>
<div class="box" dt="1698125796105">
            お、河村カイサがR3に名前がある。R2は勝てたか。
            <div class="content is-small">Tue Oct 24 2023 14:36:36 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/24/1698125796105.html">permlink</a></div>
          </div>
<div class="box" dt="1698125738895">
            カフェ開拓に出て前から気になってた所に入ってみたら思ったより中が狭くて落ち着かなかったので早めに出てくる。散歩日和ではあるね。
            <div class="content is-small">Tue Oct 24 2023 14:35:38 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/24/1698125738895.html">permlink</a></div>
          </div>
<div class="box" dt="1697871110306">
            土日って合理的に考えると絶対労働とかしている方がいいと思うんだが、なんとなく働く気にならないんだよなぁ。
            <div class="content is-small">Sat Oct 21 2023 15:51:50 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/21/1697871110306.html">permlink</a></div>
          </div>
<div class="box" dt="1697787348646">
            めちゃ流される日だったが長く乗れて少しフェイスもある波なので全体としてはまずまずな一日だった。
            <div class="content is-small">Fri Oct 20 2023 16:35:48 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/20/1697787348646.html">permlink</a></div>
          </div>
<div class="box" dt="1697685885441">
            最近のVisual Studioは本当に良く出来ているよなぁ。使い道があまり無いのが残念でならない。
            <div class="content is-small">Thu Oct 19 2023 12:24:45 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/19/1697685885441.html">permlink</a></div>
          </div>
<div class="box" dt="1697685859766">
            久しぶりにVisual Studioを触ると、帰ってきた感がある。新しくなった機能とか良く知らないので最初戸惑うが、慣れてくるとめちゃ使いやすい。
            <div class="content is-small">Thu Oct 19 2023 12:24:19 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/19/1697685859766.html">permlink</a></div>
          </div>
<div class="box" dt="1697359593825">
            日が暮れる直前に波が上がってきて一瞬だけすごく良かったがすぐ暗くなってしまうなど。
            <div class="content is-small">Sun Oct 15 2023 17:46:33 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/15/1697359593825.html">permlink</a></div>
          </div>
<div class="box" dt="1696815326482">
            今日から突然寒くなったな。
            <div class="content is-small">Mon Oct 09 2023 10:35:26 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/09/1696815326482.html">permlink</a></div>
          </div>
<div class="box" dt="1696637224945">
            今日は疲労もたまってるしライブカメラ見る感じ波も無さそうなのでサーフィンはお休みかなぁ。
            <div class="content is-small">Sat Oct 07 2023 09:07:04 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/07/1696637224945.html">permlink</a></div>
          </div>
<div class="box" dt="1696562792199">
            最近またいい波が続くな。9月は酷かったが10月前半は当たりか。
            <div class="content is-small">Fri Oct 06 2023 12:26:32 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/10/06/1696562792199.html">permlink</a></div>
          </div>
<div class="box" dt="1696050896437">
            既存和訳はあと2ファイル！
            <div class="content is-small">Sat Sep 30 2023 14:14:56 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/30/1696050896437.html">permlink</a></div>
          </div>
<div class="box" dt="1695999714129">
            やっぱアップスか（コナーさん回を見て）
            <div class="content is-small">Sat Sep 30 2023 00:01:54 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/30/1695999714129.html">permlink</a></div>
          </div>
<div class="box" dt="1695965031796">
            空いてるコアにタスクを入れても早くならない、を繰り返した１日（あるある）
            <div class="content is-small">Fri Sep 29 2023 14:23:51 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/29/1695965031796.html">permlink</a></div>
          </div>
<div class="box" dt="1695881731399">
            自作Futureライブラリはfuture&lt;future&lt;Unit&gt;&gt;をunwrapしてないので手動でunwarpしなくてはいけないがめちゃダルい。いい加減直すかなぁ。
            <div class="content is-small">Thu Sep 28 2023 15:15:31 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/28/1695881731399.html">permlink</a></div>
          </div>
<div class="box" dt="1695651465694">
            複数interfaceを実装する時に同じメソッドがある場合、片方がabstractでもoverride必須になったのか。知らなんだ＞Kotlin
            <div class="content is-small">Mon Sep 25 2023 23:17:45 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/25/1695651465694.html">permlink</a></div>
          </div>
<div class="box" dt="1695234330215">
            なんとかリファレンスの和訳を素のjekyllに出来た。翻訳を開始していけそうだ。
            <div class="content is-small">Thu Sep 21 2023 03:25:30 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/21/1695234330215.html">permlink</a></div>
          </div>
<div class="box" dt="1695195585234">
            敵役に転生したがちょっとまともになるので良い感じになっていく系の話は、良い感じになったあとの学園編あたりでダレるよな。変わっていくのが楽しいのであって変わった後は駄作になってしまう。
            <div class="content is-small">Wed Sep 20 2023 16:39:45 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/20/1695195585234.html">permlink</a></div>
          </div>
<div class="box" dt="1694923509770">
            いい戦いだったな。
            <div class="content is-small">Sun Sep 17 2023 13:05:09 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/17/1694923509770.html">permlink</a></div>
          </div>
<div class="box" dt="1694864744410">
            おー、伊東リアルのチューブすげー。やはり世界で戦えるサーファーだよなぁ。
            <div class="content is-small">Sat Sep 16 2023 20:45:44 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/16/1694864744410.html">permlink</a></div>
          </div>
<div class="box" dt="1694851766982">
            最近全然波が無い。伊豆でも行くかな〜。
            <div class="content is-small">Sat Sep 16 2023 17:09:26 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/16/1694851766982.html">permlink</a></div>
          </div>
<div class="box" dt="1694496993537">
            ちょろいと思っていた仕事が思っていたより作業が多い事に気づいたので一旦中断。違う事をして気持ちを切り替えよう。
            <div class="content is-small">Tue Sep 12 2023 14:36:33 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/12/1694496993537.html">permlink</a></div>
          </div>
<div class="box" dt="1694400098042">
            エアコンの設定は温度ではなく、「今よりちょっと弱くする」「今よりちょっと強くする」という感じの方がいいんじゃないか。
            <div class="content is-small">Mon Sep 11 2023 11:41:38 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/11/1694400098042.html">permlink</a></div>
          </div>
<div class="box" dt="1694398681541">
            最近朝はちょっと涼しくなってきたが、まだ昼頃は結構暑くなるな。
            <div class="content is-small">Mon Sep 11 2023 11:18:01 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/11/1694398681541.html">permlink</a></div>
          </div>
<div class="box" dt="1694328475643">
            このコンディションだとフェリペつえぇな。
            <div class="content is-small">Sun Sep 10 2023 15:47:55 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/10/1694328475643.html">permlink</a></div>
          </div>
<div class="box" dt="1694254738666">
            うーむ、波が無い。伊豆でも行こうかなぁ。
            <div class="content is-small">Sat Sep 09 2023 19:18:58 GMT+0900 (日本標準時) <a href="TextTL_site/md/2023/09/09/1694254738666.html">permlink</a></div>
          </div>
</div>