<div class="karino2-sidebar">
            <h2>てきすとTL</h2>
            <div class="box" dt="1734493105796">
            明日は波がありそうなので、今日はそれ以外の事をやっていこうかな。
            <div class="content is-small">Wed Dec 18 2024 12:38:25 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/12/18/1734493105796.html">permlink</a></div>
          </div>
<div class="box" dt="1734476781529">
            よし、荷物、奄美大島の営業所まで届いた。フェリーが遅れるかも、と言われていたが、予定通り今日届きそうだ。
            <div class="content is-small">Wed Dec 18 2024 08:06:21 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/12/18/1734476781529.html">permlink</a></div>
          </div>
<div class="box" dt="1734401273453">
            搭乗口で待つ。時間ぴったし。
            <div class="content is-small">Tue Dec 17 2024 11:07:53 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/12/17/1734401273453.html">permlink</a></div>
          </div>
<div class="box" dt="1734399899557">
            サーフボードを預ける。7.5kg。一枚だと運ぶのもだいぶ楽だね。
            <div class="content is-small">Tue Dec 17 2024 10:44:59 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/12/17/1734399899557.html">permlink</a></div>
          </div>
<div class="box" dt="1734397079773">
            この時間の便で行くのは初めてだが、この感じならこの便でもいいな。
            <div class="content is-small">Tue Dec 17 2024 09:57:59 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/12/17/1734397079773.html">permlink</a></div>
          </div>
<div class="box" dt="1734397012903">
            9:06の電車に乗ったがそんなに混んでなかった。これならサーフボード持ってても電車でいいな。
            <div class="content is-small">Tue Dec 17 2024 09:56:52 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/12/17/1734397012903.html">permlink</a></div>
          </div>
<div class="box" dt="1734396919064">
            京急で空港に向かってる。現在京急鶴見。
            <div class="content is-small">Tue Dec 17 2024 09:55:19 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/12/17/1734396919064.html">permlink</a></div>
          </div>
<div class="box" dt="1734236963741">
            週末波上がるかもという予報で旅立ち前に波あったらどうしよう？と思っていたが、そんな心配はまさに杞憂というくらい波が無い。
            <div class="content is-small">Sun Dec 15 2024 13:29:23 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/12/15/1734236963741.html">permlink</a></div>
          </div>
<div class="box" dt="1734153030967">
            どうも旅立ち前のそわそわで何も手につかないので、すこし早いがパッキングを開始してしまう。
            <div class="content is-small">Sat Dec 14 2024 14:10:30 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/12/14/1734153030967.html">permlink</a></div>
          </div>
<div class="box" dt="1733985561486">
            大掃除が終盤になってくると、無限の自己肯定感が湧いてくる。俺はやってやったぜ！
            <div class="content is-small">Thu Dec 12 2024 15:39:21 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/12/12/1733985561486.html">permlink</a></div>
          </div>
<div class="box" dt="1732413269451">
            神武寺が本殿開帳してるとの事で行ってみる。
            <div class="content is-small">Sun Nov 24 2024 10:54:29 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/11/24/1732413269451.html">permlink</a></div>
          </div>
<div class="box" dt="1731910289276">
            波が無いので鵠沼に来てみた。やはり鵠沼か。
            <div class="content is-small">Mon Nov 18 2024 15:11:29 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/11/18/1731910289276.html">permlink</a></div>
          </div>
<div class="box" dt="1731126822180">
            うーむ、波が全然無いな。昨日夕方はちょっとあったんだが。
            <div class="content is-small">Sat Nov 09 2024 13:33:42 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/11/09/1731126822180.html">permlink</a></div>
          </div>
<div class="box" dt="1730781351522">
            14:30に献血の予約をしてたが、少し早く着いたので献血ルームに行って待つ。
            <div class="content is-small">Tue Nov 05 2024 13:35:51 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/11/05/1730781351522.html">permlink</a></div>
          </div>
<div class="box" dt="1730531257903">
            ここ7日で6日間波がある。そろそろ体力的にきついが明日で終わりっぽいのでラスト一日頑張ろう。
            <div class="content is-small">Sat Nov 02 2024 16:07:37 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/11/02/1730531257903.html">permlink</a></div>
          </div>
<div class="box" dt="1729585880827">
            サーフボードを受け取りに東京駅に向かう。
            <div class="content is-small">Tue Oct 22 2024 17:31:20 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/10/22/1729585880827.html">permlink</a></div>
          </div>
<div class="box" dt="1729513677290">
            まずは失業率かな。
            <div class="content is-small">Mon Oct 21 2024 21:27:57 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/10/21/1729513677290.html">permlink</a></div>
          </div>
<div class="box" dt="1729513673562">
            選挙の判断材料に統計グラフ！の経済統計のデータをアップデートして眺めてみる。
            <div class="content is-small">Mon Oct 21 2024 21:27:53 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/10/21/1729513673562.html">permlink</a></div>
          </div>
<div class="box" dt="1728531296270">
            コードは弾いた時点では分からなくて、スケールに併せて構成音を見直すと初めて分かる感じだが、別にコードが分からなくても困らない。なんかこれは自由にギターを弾く第一歩な気がするぞ？
            <div class="content is-small">Thu Oct 10 2024 12:34:56 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/10/10/1728531296270.html">permlink</a></div>
          </div>
<div class="box" dt="1728531240272">
            トライアドの練習をしていたら、メロディーに併せてメロディーを一番高い音にするトライアドを適当に弾く事でコードを探すという技を覚えた。
            <div class="content is-small">Thu Oct 10 2024 12:34:00 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/10/10/1728531240272.html">permlink</a></div>
          </div>
<div class="box" dt="1728374484300">
            こういうずっと不満に思っていた所を直す仕事はやっていて気分が良いな。
            <div class="content is-small">Tue Oct 08 2024 17:01:24 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/10/08/1728374484300.html">permlink</a></div>
          </div>
<div class="box" dt="1728374461163">
            今日はテンプレートでインテリセンスが効かなくて不満だった所をswitchに直すなどしていた。
            <div class="content is-small">Tue Oct 08 2024 17:01:01 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/10/08/1728374461163.html">permlink</a></div>
          </div>
<div class="box" dt="1726043506890">
            荷物来た！
            <div class="content is-small">Wed Sep 11 2024 17:31:46 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/09/11/1726043506890.html">permlink</a></div>
          </div>
<div class="box" dt="1726042651302">
            15:30に横浜の配達店を出たという荷物を待っていたら夕方に。早く来ないかなぁ。
            <div class="content is-small">Wed Sep 11 2024 17:17:31 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/09/11/1726042651302.html">permlink</a></div>
          </div>
<div class="box" dt="1724219102229">
            連続で聴講すると疲れるので、そんなでも無いセッションは休みにしよう。
            <div class="content is-small">Wed Aug 21 2024 14:45:02 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/08/21/1724219102229.html">permlink</a></div>
          </div>
<div class="box" dt="1724212497375">
            う、サンドイッチとドリンクの無料配布を発見。買っちまったぜ。
            <div class="content is-small">Wed Aug 21 2024 12:54:57 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/08/21/1724212497375.html">permlink</a></div>
          </div>
<div class="box" dt="1724210982836">
            みなとみらいは結構好き。
            <div class="content is-small">Wed Aug 21 2024 12:29:42 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/08/21/1724210982836.html">permlink</a></div>
          </div>
<div class="box" dt="1724210949364">
            この辺は桜木町に住んでたころはほぼ毎日来てたので懐かしい。
            <div class="content is-small">Wed Aug 21 2024 12:29:09 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/08/21/1724210949364.html">permlink</a></div>
          </div>
<div class="box" dt="1724210922618">
            午後セッションまで暇なので、海沿いを散歩しようと思ったが暑いな！
            <div class="content is-small">Wed Aug 21 2024 12:28:42 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/08/21/1724210922618.html">permlink</a></div>
          </div>
<div class="box" dt="1724206023240">
            まぁ午前中のセッションはそんな聞きたいほどでも無いので間に合わなかったら午後からにするか、と思ってたが、ちょうど間に合う。
            <div class="content is-small">Wed Aug 21 2024 11:07:03 GMT+0900 (日本標準時) <a href="TextTL_site/md/2024/08/21/1724206023240.html">permlink</a></div>
          </div>
</div>